{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
</style>

<div class="example-wrapper">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Bonjour et bienvenue sur RoomBooking! ✅</h1>

    <p>L'application pour voir la disponibilité des salles de votre établissement et réserver des créneaux.</p>
</div>
{% endblock %}
