{% extends 'base.html.twig' %}

{% block title %}Ajouter un/des étudiant(s){% endblock %}

{% block body %}
    <h1>Ajouter un/des étudiant(s)</h1>

    {{ form_start(form) }}
        {{ form_row(form.students, {'label': 'Étudiants'}) }}
        <button class="btn btn-primary" type="submit">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_dashboard_classes') }}">back to list</a>
{% endblock %}
