body {
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    border: 1px solid black;
    border-radius: 10px;

    body > &, body:has(&) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.alert {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px;

    &.alert-error {
        background: darkred;
        color: white;
    }
}
