name: Build and Push Docker Image

on:
    push:
        branches: [ "main" ] # Déclenche le build lors d'un push sur main

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # ÉTAPE CRUCIALE : On passe le nom en minuscules
            - name: Lowercase repo name
              run: |
                echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GH_PACKAGES_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository }}:latest
                      ghcr.io/${{ github.repository }}:${{ github.sha }}
